@font-face {
  font-family: GOTHIC;
  src: url(../../../../assets/fonts/GOTHIC.TTF) format("opentype");
}
@font-face {
  font-family: GOTHICB;
  src: url(../../../../assets/fonts/GOTHICB.TTF) format("opentype");
}
.col-info {
  background-image: linear-gradient(to right, #fc9449, #f72981, #ab29c4 86%);
  /* margin: 2.5rem; */
  padding: 0.3rem !important;
  border-radius: 20px;
}

.modal-body {
  margin: 0 auto;
  padding-top: 0px;
  padding-right: 5rem;
  padding-left: 5rem;
  padding-bottom: 5rem;
  border-radius: 20px !important;
  background-color: #f6f6f6;
  font-family: 'GOTHIC', 'arial', sans-serif;
  font-weight: 900;

}

.modal-dialog {
  margin-top: 6rem;
  /* max-width: 40%; */
}

.ico-user {
  font-size: 6rem;
  margin: 0 auto;
  position: relative;
  left: -12px;
  top: 12px;
}

.badge-header {
  /* font-size: 2rem; */
  border-radius: 50px;
  background-image: linear-gradient(to right, #fc9449, #f72981, #ab29c4 86%);
  font-weight: bold;
  padding: 0px !important;
  padding-top: 1rem;
  /* padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem; */
  margin: 0 auto;

  display: block !important;
  max-width: 90px;
  max-height: 90px;
  min-height: 90px;
  position: relative;
  top: -38px;
}

.form-control {
  min-height: 5rem !important;
}

.img-input {
  width: 2rem;
}

.img-social {
  width: 5rem;
}

.input-group-addon {
  background-color: transparent;
  background-color: white;
}

.btn-login {
  border-radius: 50px;
  background-color: #f72981;
  font-family: 'GOTHICB', 'arial', sans-serif;

}

.btn-login:hover {
  background-color: #606060;
  border: solid 1px #606060;
}

.loadding {
  margin-top: 30vh;
}

.register{
    font-size: 10px !important;
    color: #606060;
    text-decoration: none;
}
